# MariaDB Reference Material
<hr>

To test if a connection to the MariaDB can be established.<br>
Change the <b><code>password</code></b> value to your chosen password

In [5]:
# imports mariadb library
import mariadb

try:
    # Instantiate Connection
    conn = mariadb.connect(
        user="root",
        password="",
        host="localhost",
        port=3306)
    print("Success")
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")

Success

Once you finish working with the database make sure that you close this connection to avoid keeping unused connections open and thus wasting resources. You can close the connection with the close() method:

In [6]:
# Create a cursor object
cur = conn.cursor()

In [7]:
# creating database  
cur.execute("CREATE DATABASE nation")

ProgrammingError: Can't create database 'nation'; database exists

In [8]:
cur.execute("SHOW DATABASES") 
databaseList = cur.fetchall()

In [9]:
for database in databaseList: 
    print(database) 
# Close Connection
conn.close()

('information_schema',)
('mysql',)
('nation',)
('performance_schema',)
('sales',)
('test',)

In [ ]:
# Disable Auto-Commit
#conn.autocommit = False

<hr>
We will be using the MariaDB <code>context manager</code> from this point onwards and the password was set to <b>root</b>. 
<br>
Thus you may need to change it to your choosen password.

In [ ]:
MariaDBCursor(password, database, user="", host = "localhost", port=3306)

In [10]:
import mariadb_context as rdbms

Attributes and methods of the `cursor`object

In [11]:
# to view the functions available in the cursor object
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    print(dir(rdbms_cursor))

['__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'buffered', 'callproc', 'close', 'closed', 'connection', 'description', 'execute', 'executemany', 'fetchall', 'fetchmany', 'fetchone', 'fieldcount', 'lastrowid', 'next', 'nextset', 'rowcount', 'rownumber', 'scroll', 'setinputsizes', 'setoutputsize', 'sp_outparams', 'statement', 'warnings']

## Create operations

SQL statements to create the tables

In [12]:
# list of tables
db_tables = []

table_languages = """
    CREATE TABLE languages( language_id INT AUTO_INCREMENT, 
        language VARCHAR(50) NOT NULL,
        PRIMARY KEY(language_id)
);"""

table_continents = """
    CREATE TABLE continents( continent_id INT AUTO_INCREMENT, 
        name VARCHAR(255) NOT NULL,
        PRIMARY KEY(continent_id)
);"""

table_region = """
    CREATE TABLE regions( region_id INT AUTO_INCREMENT, name VARCHAR(100) NOT NULL,
        continent_id INT NOT NULL,
        PRIMARY KEY(region_id),
        FOREIGN KEY(continent_id) 
            REFERENCES continents(continent_id) ON UPDATE CASCADE ON DELETE CASCADE
);"""

table_countries = """
    CREATE TABLE countries ( country_id INT AUTO_INCREMENT, 
        name VARCHAR(50) NOT NULL,
        area DECIMAL(10,2) NOT NULL,
        national_day DATE,
        country_code2 CHAR(2) NOT NULL UNIQUE,
        country_code3 CHAR(3) NOT NULL UNIQUE,
        region_id INT NOT NULL,
        FOREIGN KEY(region_id) 
            REFERENCES regions(region_id) ON UPDATE CASCADE ON DELETE CASCADE,
        PRIMARY KEY(country_id)
);""" ### ON UPDATE means the constraint is on the UPDATE keyword. Same for DELETE.
# CASCADE means it will delete one in all tables.

table_country_stats = """
    CREATE TABLE country_stats( country_id INT, year INT, population INT,
        gdp DECIMAL(15,0),
        PRIMARY KEY(country_id, year),
        FOREIGN KEY(country_id)
            REFERENCES countries(country_id) ON UPDATE CASCADE ON DELETE CASCADE
);"""

table_country_languages = """
    CREATE TABLE country_languages( country_id INT, language_id INT, 
        official BOOLEAN NOT NULL,
        PRIMARY KEY(country_id, language_id),
        FOREIGN KEY(country_id) 
            REFERENCES countries(country_id) ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY(language_id)
            REFERENCES languages(language_id) ON UPDATE CASCADE ON DELETE CASCADE
);"""

db_tables = [table_languages, table_continents, table_region, table_countries, table_country_stats,
         table_country_languages]

<b>Create</b> the tables using a loop

In [ ]:
with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    for table in db_tables:
        rdbms_cursor.execute(table)
print("Create tables done.")

## Update/Insert operations

Prepare the insert statements into a list

In [ ]:
# list of insert statements
insert_statements = []

insert_lang = """
INSERT INTO languages(languages) VALUES
("English"),("Mandarin"),("Malay"),("Indonesian"),("German");
"""

insert_continents = """
INSERT INTO continents(name) VALUES ("Europe"),("Amercia"),("Asia"),("Oceania"),("")
"""

insert_regions = 

insert_countries = 

insert_country_stats = 

insert_country_languages = 

insert_statements = [insert_lang, insert_continents, insert_regions, insert_countries,
                     insert_country_stats, insert_country_languages]

<b>Insert</b> data into the tables

<b>Update</b> a record in the regions table

In [13]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("UPDATE regions set name='Western Europe' where region_id = 1")
    
print("Done updating.")

Done updating.

<b>Changing</b> a table's name

In [14]:
with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    rdbms_cursor.execute("ALTER TABLE countries CHANGE COLUMN national_day independence_day DATE")
    
print("Done changing.")

OperationalError: Unknown column 'national_day' in 'countries'

In [15]:
with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    rdbms_cursor.execute("ALTER TABLE countries CHANGE COLUMN national_day independence_day DATE")

OperationalError: Unknown column 'national_day' in 'countries'

## Read operations
Select statements

Select <b>all</b> from table <code>countries</code>

In [32]:
from decimal import Decimal

with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    rdbms_cursor.execute("SELECT * FROM countries;")
    
    rows = rdbms_cursor.fetchall()
    
    while True:
        try:
            for row in rows:
                print(row)
        except:
            continue

SystemError: <method 'fetchall' of 'mariadb.connection.cursor' objects> returned a result with an error set

Select <code>name</code> and <code>area</code> columns from the table <code>countries</code> and showing only the <b>first 3 records in ascending order</b> by <code>area</code>.

Selecting only the countries with with land masses <b>larger than 3 million square kilometers</b> and ordered by area in <b>descending</b> order

Selecting the <b>names of countries</b> within the African and European regions and ordered by name in ascending order. That means the countries have a `region id` of `1,2,9 to 13`.

In [39]:
with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    rdbms_cursor.execute("SELECT name FROM countries WHERE region_id in "+\
                        "(1,2) or region_id BETWEEN 9 AND 13 ORDER BY name;")
    
    row = rdbms_cursor.fetchall()
    while row is not None:
        print(row)
        row = rdbms_cursor.fetchone()

[('Afghanistan',), ('Anguilla',), ('Antigua and Barbuda',), ('Aruba',), ('Australia',), ('Austria',), ('Bahamas',), ('Bangladesh',), ('Barbados',), ('Belarus',), ('Belgium',), ('Benin',), ('Bhutan',), ('British Indian Ocean Territory',), ('Bulgaria',), ('Burkina Faso',), ('Burundi',), ('Cape Verde',), ('Cayman Islands',), ('Christmas Island',), ('Cocos (Keeling) Islands',), ('Comoros',), ('Côte d’Ivoire',), ('Cuba',), ('Czech Republic',), ('Djibouti',), ('Dominica',), ('Dominican Republic',), ('Eritrea',), ('Ethiopia',), ('France',), ('Gambia',), ('Germany',), ('Ghana',), ('Grenada',), ('Guadeloupe',), ('Guinea',), ('Guinea-Bissau',), ('Haiti',), ('Hungary',), ('India',), ('Iran',), ('Jamaica',), ('Kazakstan',), ('Kenya',), ('Kyrgyzstan',), ('Liberia',), ('Liechtenstein',), ('Luxembourg',), ('Madagascar',), ('Malawi',), ('Maldives',), ('Mali',), ('Martinique',), ('Mauritania',), ('Mauritius',), ('Mayotte',), ('Moldova',), ('Monaco',), ('Montserrat',), ('Mozambique',), ('Nepal',), ('Netherlands',), ('Netherlands Antilles',), ('New Zealand',), ('Niger',), ('Nigeria',), ('Norfolk Island',), ('Pakistan',), ('Poland',), ('Puerto Rico',), ('Réunion',), ('Romania',), ('Russian Federation',), ('Rwanda',), ('Saint Helena',), ('Saint Kitts and Nevis',), ('Saint Lucia',), ('Saint Vincent and the Grenadines',), ('Senegal',), ('Seychelles',), ('Sierra Leone',), ('Slovakia',), ('Somalia',), ('Sri Lanka',), ('Switzerland',), ('Tajikistan',), ('Tanzania',), ('Togo',), ('Trinidad and Tobago',), ('Turkmenistan',), ('Turks and Caicos Islands',), ('Uganda',), ('Ukraine',), ('Uzbekistan',), ('Virgin Islands, British',), ('Virgin Islands, U.S.',), ('Zambia',), ('Zimbabwe',)]

Selecting the country names and region names from the tables **`countries` and `regions`** where their `region_id` matches and ordered by country names.

In [37]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("SELECT c.name, r.name FROM countries c INNER JOIN " + \
                         "regions r ON r.region_id = c.region_id ORDER BY c.name;")
    
    # fetch the first 3 records of the returned query
    # change it to fetchall() to see the full list
    rows = rdbms_cursor.fetchmany(3)
    
    # print out the rows retrieved
    for row in rows:
        print(row)

('Afghanistan', 'Southern and Central Asia')
('Albania', 'Southern Europe')
('Algeria', 'Northern Africa')

Selecting the **only** the countries that speaks `English` from the tables **`countries`, `country_languages` and `languages`** where their `country_id` and `language_id` matches and ordered by country names.

In [38]:
with rdbms.MariaDBCursor("","nation") as rdbms_cursor:
    rdbms_cursor.execute("SELECT c.name, l.language FROM countries c " +\
                        "INNER JOIN country_languages USING (country_id) " +\
                        "INNER JOIN languages l USING (language_id) " +\
                        "WHERE l.language = 'English' ORDER BY c.name;")
    
    rows = rdbms_cursor.fetchall()
    
    for row in rows:
        print(row)

('American Samoa', 'English')
('Anguilla', 'English')
('Antigua and Barbuda', 'English')
('Aruba', 'English')
('Australia', 'English')
('Bahrain', 'English')
('Barbados', 'English')
('Belize', 'English')
('Bermuda', 'English')
('Brunei', 'English')
('Canada', 'English')
('Cayman Islands', 'English')
('Christmas Island', 'English')
('Cocos (Keeling) Islands', 'English')
('Cook Islands', 'English')
('Denmark', 'English')
('Falkland Islands', 'English')
('Gibraltar', 'English')
('Guam', 'English')
('Hong Kong', 'English')
('Iceland', 'English')
('Ireland', 'English')
('Japan', 'English')
('Kuwait', 'English')
('Lesotho', 'English')
('Macao', 'English')
('Malaysia', 'English')
('Maldives', 'English')
('Malta', 'English')
('Marshall Islands', 'English')
('Monaco', 'English')
('Montserrat', 'English')
('Nauru', 'English')
('Netherlands Antilles', 'English')
('New Zealand', 'English')
('Niue', 'English')
('Norfolk Island', 'English')
('Northern Mariana Islands', 'English')
('Norway', 'English')
('Palau', 'English')
('Puerto Rico', 'English')
('Saint Helena', 'English')
('Saint Kitts and Nevis', 'English')
('Saint Lucia', 'English')
('Saint Vincent and the Grenadines', 'English')
('Samoa', 'English')
('Seychelles', 'English')
('South Africa', 'English')
('Tokelau', 'English')
('Tonga', 'English')
('Trinidad and Tobago', 'English')
('Turks and Caicos Islands', 'English')
('Tuvalu', 'English')
('United Kingdom', 'English')
('United States', 'English')
('United States Minor Outlying Islands', 'English')
('Vanuatu', 'English')
('Virgin Islands, British', 'English')
('Virgin Islands, U.S.', 'English')
('Zimbabwe', 'English')

Mixing an aggregate function (`sum`) to show the total landmass areas of the countries within the regions.

In [41]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("SELECT r.name, sum(area) sum_land FROM countries " + \
                         "INNER JOIN regions r USING (region_id) GROUP BY r.name " + \
                         "ORDER BY sum_land;"
                        )
    
    rows = rdbms_cursor.fetchall()
    
    # print out the rows retrieved
    for row in rows:
        print(row)

('Micronesia/Caribbean', Decimal('16.00'))
('Micronesia', Decimal('3102.00'))
('Polynesia', Decimal('8463.00'))
('Baltic Countries', Decimal('175117.00'))
('Caribbean', Decimal('234423.00'))
('British Islands', Decimal('313173.00'))
('Melanesia', Decimal('540774.00'))
('Western Europe', Decimal('1108456.50'))
('Southern Europe', Decimal('1316392.40'))
('Nordic Countries', Decimal('1321901.00'))
('Central America', Decimal('2479532.00'))
('Southern Africa', Decimal('2674778.00'))
('Southeast Asia', Decimal('4494801.00'))
('Middle East', Decimal('4820592.00'))
('Western Africa', Decimal('6138338.00'))
('Eastern Africa', Decimal('6299891.00'))
('Central Africa', Decimal('6612667.00'))
('Australia and New Zealand', Decimal('8011939.00'))
('Northern Africa', Decimal('8524703.00'))
('Southern and Central Asia', Decimal('10791130.00'))
('Eastern Asia', Decimal('11774482.00'))
('Antarctica', Decimal('13132101.00'))
('South America', Decimal('17864926.00'))
('Eastern Europe', Decimal('18814094.00'))
('North America', Decimal('21500515.00'))

## Delete operations
<br>
Delete a single record

In [43]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("DELETE FROM countries WHERE name='South Africa';")
    
    print(f"{rdbms_cursor.rowcount} records(s) deleted" )
    
    # showing the results of the other tables after a record is deleted
    rdbms_cursor.execute("SELECT * FROM country_languages;")
    rows = rdbms_cursor.fetchall()
    print("Table: country_languages")
    # print out the rows retrieved
    for row in rows:
        print(row)
    
    rdbms_cursor.execute("SELECT * FROM country_stats;")
    rows = rdbms_cursor.fetchall()
    print("\n\nTable: country_stats")
    # print out the rows retrieved
    for row in rows:
        print(row)

IntegrityError: Cannot delete or update a parent row: a foreign key constraint fails (`nation`.`country_languages`, CONSTRAINT `country_languages_ibfk_1` FOREIGN KEY (`country_id`) REFERENCES `countries` (`country_id`))

How to find the foreign key constraint name of all the tables in the database

In [45]:
find_foreign_key = """
SELECT
    fk.constraint_name, 
    c.ordinal_position,
    c.table_schema,
    c.table_name,
    c.column_name,
    c.referenced_table_schema,
    c.referenced_table_name,
    c.referenced_column_name
  FROM information_schema.table_constraints fk
  JOIN information_schema.key_column_usage c 
    ON c.constraint_name = fk.constraint_name
  WHERE fk.constraint_type = 'FOREIGN KEY';
"""

with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute(find_foreign_key)
    
    rows = rdbms_cursor.fetchall()
    
    # Note that we only want the foreign key constraint name
    # and that is the first value in the tuple
    for row in rows:
        print(row)

('countries_ibfk_1', 1, 'nation', 'countries', 'region_id', 'nation', 'regions', 'region_id')
('country_languages_ibfk_1', 1, 'nation', 'country_languages', 'country_id', 'nation', 'countries', 'country_id')
('country_languages_ibfk_2', 1, 'nation', 'country_languages', 'language_id', 'nation', 'languages', 'language_id')
('country_stats_ibfk_1', 1, 'nation', 'country_stats', 'country_id', 'nation', 'countries', 'country_id')
('regions_ibfk_1', 1, 'nation', 'regions', 'continent_id', 'nation', 'continents', 'continent_id')
('customer_ibfk_1', 1, 'sales', 'customer', 'salesman_id', 'sales', 'salesman', 'salesman_id')

Delete all rows from the tables `languages`

In [46]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("ALTER TABLE country_languages DROP " + \
                         "FOREIGN KEY country_languages_ibfk_2;")
    rdbms_cursor.execute("TRUNCATE TABLE languages;")
    
    print(f"{rdbms_cursor.rowcount} records(s) deleted" )
    
    # showing the results of the other tables after a record is deleted
    rdbms_cursor.execute("SELECT * FROM languages;")
    rows = rdbms_cursor.fetchall()
    
    print("Table: languages")
    if rows:
        for row in rows:
            print(row)
    else:
        print("Table has no records")

0 records(s) deleted
Table: languages
Table has no records

Delete the table `languages`

In [50]:
with rdbms.MariaDBCursor("", "nation") as rdbms_cursor:
    rdbms_cursor.execute("DROP TABLE languages;")
    
    # showing the results of the other tables after a record is deleted
    rdbms_cursor.execute("SHOW tables;")
    rows = rdbms_cursor.fetchall()
    
    print("All the tables in the database")
    for row in rows:
        print(row)

OperationalError: Unknown table 'nation.languages'