# Functional Programming Exercise

## Write codes based on the questions
---

### Using `map()` Function
Using the given data construct functions either using `lambda` or normal function to be used in the `map()` function. <br>
**Priority must be given to `lambda` functions.**

**Q1)** Convert a list of degrees celsius temperatures to fahrenheit then use the output and convert it back to degrees celsius.

In [ ]:
celsius = [39.2, 36.5, 37.3, 37.8]
fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, celsius))

print(fahrenheit)

cel = list(map(lambda x: (float(5)/9)*(x-32), fahrenheit))
print(cel)

**Q2)** Return a list of string lengths

In [ ]:
lst = ['actor','courage','revenue','platform','childhood','promotion','drama','effort','homework']

list(map(lambda x: len(x), lst))

**Q3)** Find the digit distance between 2 lists of numbers. The digit distance between two numbers is calculated as the absolute value of the difference of those numbers. You may need to find out how python calculates absolute values.

**Hint**<br>
`map()` can be used with multiple lists. <br>
Syntax:
```python
map(lambda x,y:x*y, lst1, lst2)
```

**Example**<br>
|123 - 256| = 133
digit distance = 1 + 3 + 3 = 7

In [ ]:
lst1 = [123, 23, 1, 528, 45]
lst2 = [256, 9, 58, 63, 14]

# Strings treated the same way as a list. Convert the String to a int one by one
list(map(lambda x, y: sum(map(int,str(abs(x-y)))), lst1, lst2))

### Using `filter()` function

Using the given data construct functions either using `lambda` or normal function to be used in the `filter()` function. <br>
**Priority must be given to `lambda` functions.**

**Q4)** Given 2 lists of words remove the duplicated elements.

In [ ]:
lst1 = ["Python", "CSharp", "Java", "Go"]
lst2 = ["Python", "Scala", "JavaScript", "Go", "PHP", "CSharp"]

list(filter(lambda x: x not in lst1, lst2))

**Q5)** Given some data in a list of dictionaries. Use `filter()` to search for any of the dictionary elements, given a key and value. <br>
**Hint:** a function could be required house the `filter()` function.

**Sample program output**
<pre>
Searched for type = fish

{'name': 'sammy', 'species': 'nurse shark', 'tank number': '11', 'type': 'fish'}
{'name': 'bitey', 'species': 'white tip shark', 'tank number': '11', 'type': 'fish'}
{'name': 'charlie', 'species': 'clownfish', 'tank number': '12', 'type': 'fish'}
</pre>

In [ ]:
data = [
    {"name": "sammy", "species": "nurse shark", "tank number": "11", "type": "fish"},
    {"name": "bitey", "species": "white tip shark", "tank number": "11", "type": "fish"},
    {"name": "ashley", "species": "crab", "tank number": "25", "type": "shellfish"},
    {"name": "bashful", "species": "crab", "tank number": "5", "type": "shellfish"},
    {"name": "jackie", "species": "lobster", "tank number": "21", "type": "shellfish"},
    {"name": "boxy", "species": "mantis shrimp", "tank number": "21", "type": "shellfish"},
    {"name": "charlie", "species": "clownfish", "tank number": "12", "type": "fish"},
    {"name": "olly", "species": "green turtle", "tank number": "34", "type": "turtle"}
]

def search_data(search_data, key, value):
    return list(filter(lambda elem: key in elem and elem[key] in value, search_data))

print('\n'.join(list(map(str, search_data(data, 'type', 'fish')))))

## Using `reduce()` function

Using the given data construct functions either using `lambda` or normal function to be used in the `reduce()` function.<br>
Priority must be given to `lambda` functions.

**Q6)** Given a list of strings, combine them to produce the following output:
```python
Halloween candies: gummy bears, pop tart, candy cane, bubble gum, jaw breakers
```

In [ ]:
lst_str = ['gummy bears', 'pop tart', 'candy cane', 'bubble gum', 'jaw breakers']

candy = reduce(lambda x, y: f'{x}, {y}', lst_str)
print(f'Halloween candies: {candy}')

## Combine `map()`, `filter()` and `reduce()` functions

Using the given data construct functions either using `lambda` or normal function to be used combination with the `map()`, `filter()` and `reduce()` function.
Priority must be given to `lambda` functions.

**Q7)** Given a list of numbers, add `1` to each element then remove all even numbers and sum the remaining numbers.

In [ ]:
from functools import reduce
vals = [0,1,2,3,4,5,6,7,8,9]

# add 1 to each element
obj = list(map(lambda x: x+1, vals))
obj = list(filter(lambda x: x % 2 == 0, obj))
obj = reduce(lambda x,y: x+y, obj)
print(obj)

**Q8)** Given the following data, print all administrative cities with more than 14 million inhabitants.

**Sample program output**
<pre>
Cities: Mumbai, São Paulo, Delhi, Shanghai, Kolkata
</pre>

In [ ]:
from functools import reduce

data=[['Tokyo', 35676000.0, 'primary'], ['New York', 19354922.0, 'nan'], ['Mexico City', 19028000.0, 'primary'], 
      ['Mumbai', 18978000.0, 'admin'], ['São Paulo', 18845000.0, 'admin'], ['Delhi', 15926000.0, 'admin'], 
      ['Shanghai', 14987000.0, 'admin'], ['Kolkata', 14787000.0, 'admin'], ['Los Angeles', 12815475.0, 'nan'], 
      ['Dhaka', 12797394.0, 'primary'], ['Buenos Aires', 12795000.0, 'primary'], ['Karachi', 12130000.0, 'admin'], 
      ['Cairo', 11893000.0, 'primary'], ['Rio de Janeiro', 11748000.0, 'admin'], ['Ōsaka', 11294000.0, 'admin'], 
      ['Beijing', 11106000.0, 'primary'], ['Manila', 11100000.0, 'primary'], ['Moscow', 10452000.0, 'primary'], 
      ['Istanbul', 10061000.0, 'admin'], ['Paris', 9904000.0, 'primary']]

obj = list(filter(lambda x: x[2] == 'admin' and x[1] > 14000000, data))
obj = list(map(lambda x: x[0], obj))
obj = list(reduce(lambda x,y: f'{x}, {y}', obj))

print(f'Cities: {"".join(obj)}')

**Q9)** Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

| Order Number   | Book Title and Author                | Quantity   |  Price per Item (SGD) |
|:---|:---|:---:|:---:|
| 34587          | To Kill a Mockingbird, Harper Lee    |     4      |    40.95 |
| 98762          | Never Cry Wolf, Farley Mowat         |     5      |    56.80 |
| 77226          | Dealing with Dragons, Patricia Wrede |     3      |    32.95 |
| 88112          | Pride and Prejudice, Jane Austen     |     3      |    24.99 |


Write a Python program using `lambda` and `map()`, which returns a list with 2-tuples. Each tuple consists of a the order number and the product of the price per items and the quantity. The product should be increased by \\$10 if the value of the order is smaller than \\$100,00.

In [ ]:
orders = [ ["34587", "To Kill a Mockingbird, Harper Lee", 4, 40.95], 
           ["98762", "Never Cry Wolf, Farley Mowat", 5, 56.80], 
           ["77226", "Dealing with Dragons, Patricia Wrede", 3,32.95],
           ["88112", "Pride and Prejudice, Jane Austen", 3, 24.99]]

min_order = 100
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), 
                  map(lambda x: (x[0],x[2] * x[3]), orders)))

print(invoice_totals)

**Q10)** With reference to the given subset, the infomation is grouped as such:<br>
`[ordernumber, (article number, quantity, price per unit), ... (article number, quantity, price per unit) ]`

Write a program which returns a list of 2-tuples with `(order number, total amount of order)`. The product should be increased by \\$10 if the value of the order is smaller than \\$100,00.

In [ ]:
from functools import reduce

orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

min_order = 100
invoice_totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
invoice_totals = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1:])], invoice_totals))
invoice_totals = list(map(lambda x: tuple(x) if x[1] >= min_order else (x[0], x[1] + 10), invoice_totals))

print (invoice_totals)