# Functional Programming Exercise

## Write codes based on the questions
---

### Using `map()` Function

> **Notes** <br>
> map() can be applied to any number of list, then for the corresponding lambda function, the inputs to it must correspond to the number of list. e.g. `map((lambda x,y,z:...),l1,l2,l3)`

Using the given data construct functions either using `lambda` or normal function to be used in the `map()` function. <br>
**Priority must be given to `lambda` functions.**

**(DONE) Q1)** Convert a list of degrees celsius temperatures to fahrenheit then use the output and convert it back to degrees celsius.

In [32]:
celsius = [39.2, 36.5, 37.3, 37.8]
fah=list(map(lambda x: (x*9/5) + 32, celsius))

list(map((lambda x: (x-32)*5/9),fah))

[39.2, 36.5, 37.3, 37.79999999999999]

**(DONE) Q2)** Return a list of string lengths

In [3]:
lst = ['actor','courage','revenue','platform','childhood','promotion','drama','effort','homework']

lst = list(map((lambda x:len(x)),lst))

lst

[5, 7, 7, 8, 9, 9, 5, 6, 8]

**(DONE) Q3)** Find the digit distance between 2 lists of numbers. The digit distance between two numbers is calculated as the absolute value of the difference of those numbers. You may need to find out how python calculates absolute values.

**Hint**<br>
`map()` can be used with multiple lists. <br>
Syntax:
```python
map(lambda x,y:x*y, lst1, lst2)
```

**Example**<br>
|123 - 256| = 133
digit distance = 1 + 3 + 3 = 7

In [43]:
lst1 = [123, 23, 1, 528, 45]
lst2 = [256, 9, 58, 63, 14]

# Strategy: Use nested map(). Apply map to list with function1 then cast resultant into list and apply another map to
# casted list to get desired output.

# Strategy for writing lambda functions: for one input, imagine how you would manipulate just that one input to get the
# desired output.

# Strategy in this case: for the second lambda, convert the number first to a string, 
# then use for-loop to iterate and sum up the int-casted digits.

# First lambda function: lambda x,y:abs(x-y))
# Second lambda function: lambda n: sum(int(d) for d in str(n))

list(map((lambda x,y:abs(x-y)),lst1,lst2))
print(list(map((lambda x,y:abs(x-y)),lst1,lst2)))

list(map((lambda n: sum(int(d) for d in str(n))),list(map((lambda x,y:abs(x-y)),lst1,lst2))))

[133, 14, 57, 465, 31]

[7, 5, 12, 15, 4]

### Using `filter()` function

> **Notes**<br>
for `filter()`, the function input must generate a boolean mask, i.e. `[True, False,..., False, True, True]`.

Using the given data construct functions either using `lambda` or normal function to be used in the `filter()` function. <br>
**Priority must be given to `lambda` functions.**

**(DONE) Q4)** Given 2 lists of words remove the duplicated elements.

In [39]:
lst1 = ["Python", "CSharp", "Java", "Go"]
lst2 = ["Python", "Scala", "JavaScript", "Go", "PHP", "CSharp"]

# LP: Can use the 'in' operator to do this!

print("In lst2 but not in lst1: ",list(filter((lambda x: x not in lst1),lst2)))
print("In lst1 but not in lst2: ",list(filter((lambda x: x not in lst2),lst1)))

In lst2 but not in lst1:  ['Scala', 'JavaScript', 'PHP']
In lst1 but not in lst2:  ['Java']

In [ ]:
# Example from Internet

# list of letters
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(letter in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, letters)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

**(DONE) Q5)** Given some data in a list of dictionaries. Use `filter()` to search for any of the dictionary elements, given a key and value. <br>
**Hint:** a function could be required house the `filter()` function.

**Sample program output**
<pre>
Searched for type = fish

{'name': 'sammy', 'species': 'nurse shark', 'tank number': '11', 'type': 'fish'}
{'name': 'bitey', 'species': 'white tip shark', 'tank number': '11', 'type': 'fish'}
{'name': 'charlie', 'species': 'clownfish', 'tank number': '12', 'type': 'fish'}
</pre>

In [ ]:
data = [
    {"name": "sammy", "species": "nurse shark", "tank number": "11", "type": "fish"},
    {"name": "bitey", "species": "white tip shark", "tank number": "11", "type": "fish"},
    {"name": "ashley", "species": "crab", "tank number": "25", "type": "shellfish"},
    {"name": "bashful", "species": "crab", "tank number": "5", "type": "shellfish"},
    {"name": "jackie", "species": "lobster", "tank number": "21", "type": "shellfish"},
    {"name": "boxy", "species": "mantis shrimp", "tank number": "21", "type": "shellfish"},
    {"name": "charlie", "species": "clownfish", "tank number": "12", "type": "fish"},
    {"name": "olly", "species": "green turtle", "tank number": "34", "type": "turtle"}
]

k = 'type'
v = 'fish'
res = list(filter(lambda x: x[k] == v, data))
print(f'searched for {k} = {v}')
for r in res:
    print(r)

### Using `reduce()` function


#### How `reduce( )` works, from GeeksForGeeks
Working: 

* At first step, **first two elements of sequence** are picked and the result is obtained. i.e. function in `reduce( )` must have 2 inputs.
* Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
* This process continues till no more elements are left in the container.
* The final returned result is returned and printed on console.
***

Using the given data, construct functions either using `lambda` or the usual function definitions, which are to be used in the `reduce()` function.<br>
Priority must be given to `lambda` functions.

**(DONE) Q6)** Given a list of strings, combine them to produce the following output:
```python
Halloween candies: gummy bears, pop tart, candy cane, bubble gum, jaw breakers
```

In [14]:
from functools import reduce

lst_str = ['gummy bears', 'pop tart', 'candy cane', 'bubble gum', 'jaw breakers']

print("Halloween candies: "+reduce((lambda x,y:f"{x}, {y}"),lst_str))

output = reduce(lambda x,y: x +', '+y, lst_str)
print(f'Halloween candies: {output}')

Halloween candies: gummy bears, pop tart, candy cane, bubble gum, jaw breakers
Halloween candies: gummy bears, pop tart, candy cane, bubble gum, jaw breakers

## Combine `map()`, `filter()` and `reduce()` functions

Using the given data construct functions either using `lambda` or normal function to be used combination with the `map()`, `filter()` and `reduce()` function.
Priority must be given to `lambda` functions.

**(DONE) Q7)** Given a list of numbers, add `1` to each element then remove all even numbers and sum the remaining numbers.

In [53]:
vals = [0,1,2,3,4,5,6,7,8,9]

# 3 lambda functions for map -> filter -> reduce composition.
# Remember to cast each intermediate resultant as an iterable object, e.g. list.
# First lambda function for map(): lambda x:x+1
# Second lambda function for filter(): lambda x: x%2==0 LP: WRONG! Correct lambda is => lambda x:x%2!=0 because it has
# to REMOVE even numbers i.e. x%2 must give FALSE for even numbers i.e. x%2!=0, odd numbers will have true.
# Third lambda function for reduce(): lambda x,y:x+y

reduce((lambda x,y:x+y),list(filter((lambda x:x%2!=0),list(map((lambda x:x+1),vals)))))

25

**(DONE) Q8)** Given the following data, print all administrative cities with more than 14 million inhabitants.

**Sample program output**
<pre>
Cities: Mumbai, São Paulo, Delhi, Shanghai, Kolkata
</pre>

In [16]:
from functools import reduce

data=[['Tokyo', 35676000.0, 'primary'], ['New York', 19354922.0, 'nan'], ['Mexico City', 19028000.0, 'primary'], 
      ['Mumbai', 18978000.0, 'admin'], ['São Paulo', 18845000.0, 'admin'], ['Delhi', 15926000.0, 'admin'], 
      ['Shanghai', 14987000.0, 'admin'], ['Kolkata', 14787000.0, 'admin'], ['Los Angeles', 12815475.0, 'nan'], 
      ['Dhaka', 12797394.0, 'primary'], ['Buenos Aires', 12795000.0, 'primary'], ['Karachi', 12130000.0, 'admin'], 
      ['Cairo', 11893000.0, 'primary'], ['Rio de Janeiro', 11748000.0, 'admin'], ['Ōsaka', 11294000.0, 'admin'], 
      ['Beijing', 11106000.0, 'primary'], ['Manila', 11100000.0, 'primary'], ['Moscow', 10452000.0, 'primary'], 
      ['Istanbul', 10061000.0, 'admin'], ['Paris', 9904000.0, 'primary']]

lst=list(filter((lambda x:x[1]>14000000),list(filter((lambda x:x[-1]=='admin'),data))))
print(lst)

# LP: for the above statement, can combine the two conditions (x[1]>14M) & (x[-1]=='admin') as a single condition.

lst = list(filter((lambda x:x[1]>14000000 and x[-1]=='admin'),data))
print(lst)

output=reduce((lambda x,y: x+', '+y), map(lambda x: x[0], list(filter((lambda x:x[1]>14000000),\
                                                               list(filter((lambda x:x[-1]=='admin'), data))) ) ) )
print(f"Cities: {output}")

[['Mumbai', 18978000.0, 'admin'], ['São Paulo', 18845000.0, 'admin'], ['Delhi', 15926000.0, 'admin'], ['Shanghai', 14987000.0, 'admin'], ['Kolkata', 14787000.0, 'admin']]
[['Mumbai', 18978000.0, 'admin'], ['São Paulo', 18845000.0, 'admin'], ['Delhi', 15926000.0, 'admin'], ['Shanghai', 14987000.0, 'admin'], ['Kolkata', 14787000.0, 'admin']]
Cities: Mumbai, São Paulo, Delhi, Shanghai, Kolkata

**(DONE with Chee Wai's Code) Q9)** Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

| Order Number   | Book Title and Author                | Quantity   |  Price per Item (SGD) |
|:---|:---|:---:|:---:|
| 34587          | To Kill a Mockingbird, Harper Lee    |     4      |    40.95 |
| 98762          | Never Cry Wolf, Farley Mowat         |     5      |    56.80 |
| 77226          | Dealing with Dragons, Patricia Wrede |     3      |    32.95 |
| 88112          | Pride and Prejudice, Jane Austen     |     3      |    24.99 |


Write a Python program using `lambda` and `map()`, which returns a list with 2-tuples. Each tuple consists of a the order number and the product of the price per items and the quantity. The product should be increased by \\$10 if the value of the order is smaller than \\$100,00.

In [1]:
orders = [ ["34587", "To Kill a Mockingbird, Harper Lee", 4, 40.95], 
           ["98762", "Never Cry Wolf, Farley Mowat", 5, 56.80], 
           ["77226", "Dealing with Dragons, Patricia Wrede", 3,32.95],
           ["88112", "Pride and Prejudice, Jane Austen", 3, 24.99]]

list(map(lambda x: (x[0], (x[2]*x[3]) + (10 if (x[2]*x[3]) < 100 else 0)), orders))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

**(DONE with Chee Wai's Code) Q10)** With reference to the given subset, the infomation is grouped as such:<br>
`[ordernumber, (article number, quantity, price per unit), ... (article number, quantity, price per unit) ]`

Write a program which returns a list of 2-tuples with `(order number, total amount of order)`. The product should be increased by \\$10 if the value of the order is smaller than \\$100,00.

In [2]:
from functools import reduce

orders = [ [1, ("5464", 4, 29.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 19.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

list( map(lambda x: (x[0], x[1] + (10 if x[1] < 100 else 0)), map(lambda x: (x[0], reduce(lambda x, y: x+y, map(lambda x: x[1]*x[2], x[1:]))), orders)) )

[(1, 758.3299999999999), (2, 584.46), (3, 364.79999999999995), (4, 492.57)]